/* All of the colours for the CV site */
.navbar a:hover {
    border-bottom: #008B8B 2px solid; /* Underline when hovering over the list item */
}

.icons i {
    background-color: #008080;
    color: #fff;
    padding: 1rem; /* Relative font size */
    border-radius: 50%; /* Circular */
    margin-bottom: 15px;
}

.text-primary {
    color: #02290b;
    margin-bottom: 15px;
}

.text-secondary {
    color: #0284d0;
}
/* Button */

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #008080;
    border: none;
    border-radius: 5px; /* makes the edges curved */
}

.btn:hover {
    opacity: 0.7; /* Button dims when hovered over */
}

/* Colour templates */

.bg-primary, .btn-primary {
    color: #fff;
    background: #008080;
}

.bg-secondary, .btn-secondary {
    color: #fff;
    background: #008080;
}

.bg-dark, .btn-dark {
    color: #fff;
    background: #333;
}

.bg-light, .btn-light {
    color: #333;
    background: #f4f4f4;
}

.btn-outline {
    background: transparent;
    border: 1px solid #fff;
}

.callback-form input:focus {
    outline-color: #008080;
}

.footer a:hover {
    color: #008080;
}

a {
    color: #008080;
    text-decoration: none; /* removes the underline on links */
}

img.resize {
    max-width:75%;
    max-height:75%;
    justify-content: center;
    align-items: center;
}